<div class="tags <%if(theme.style.animation.open==true){%>animate__animated  animate__fadeInUp<% } %>">
  <% terms.each(function(item){ %>
    <a href="<%- url_for(item.path) %>">
      <div class="tags-title-date">
      <div class="tags-title "><%= item.name %> <span class="tags-date "><%= item.posts.length %></span></div>
      </div>
    </a>
  &nbsp;
  <% }) %>
  <div></div>
</div>
